    <% layout('./layout/page.ejs') %>
        <h1>
            <%= title %>
        </h1>
        <p><% if(user) {%>
            Добро пожаловать в школу Магии
           <% }else{ %>
            Тебя еще не зачислили в школу магии. Живо подавать заявление!
           <% } %>
           
        </p>
        

