<% layout('./layout/page.ejs') %>

<div class="conteiner">
    <h1>Вступление в школу магии</h1>
    <p>Напиши свое имя и произнеси секретные слова для входа в школу. Если таковых нет, то придумай их и запиши в эти строки.</p>
    <form class="form-horizontal" action="/logreg" method="post">
    <div class="form-group">
        <label class="control-label col-sm-1">Имя</label>
        <div class="col-sm-5">
            <input class="form-control" type="text"
               placeholder="Введите имя" name="username"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-1">Пароль</label>
        <div class="col-sm-5">
            <input class="form-control" type="password" 
             placeholder="Введите пароль" name="password"/>
        </div>
    </div>

        <br>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <input class="btn btn-primary" type="submit" value="Войти" />
            </div>
        </div>
    </form>
</div>